
.main-title {
    text-align: center;
}


main{
    display: flex;
}

form{
    padding: 10px;
    background-color: cornflowerblue;
}

aside {
    padding: 48px;
}



input [type=number] {
    width: 100%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid cornsilk;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
}